@font-face {
    font-family: 'VIDEOPHREAK';
    src: url('/fonts/VIDEOPHREAK.ttf');
}

.game-grid {
    -fx-background-color: white;
    -fx-border-style: solid outside;
    -fx-border-width: 6;
    -fx-border-color: black;
}
.game-grid-cell {
    -fx-border-style: solid inside;
    -fx-border-width: 0.6;

}

.visited-cell{
    -fx-background-color: lightgray;
}

.border-pane{
    -fx-background-color: #a6a6a6;
}

.button-raised{
    -fx-font-family: 'VIDEOPHREAK';
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(5,5,5);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;

}

