@font-face {
    font-family: 'VIDEOPHREAK';
    src: url('/fonts/VIDEOPHREAK.ttf');
}

.menu{
	-fx-background-color: #a6a6a6;
}

.play-btn{
    -fx-font-family: "VIDEOPHREAK";
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(5,5,5);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}

.border-pane{
    -fx-background-color: #a6a6a6;
}

.name-text-field{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 5, 0, 0, 0);
}